<style>
    .editionsList::-webkit-scrollbar{
        width:0;
    }
</style>
<div aria-label="group of cards" class="editionsList focus:outline-none py-2 max-w-6xl mx-auto overflow-y-scroll" >

    <div class="lg:p-0 p-4 mb-4">
        <h4 class="text-3xl font-bold pb-4">Издания</h4>

        <p>
            Подписка на издания – это не только удобный способ получать информацию, но и возможность доверять ей. Ведь качественные издания стремятся предоставлять своим читателям только достоверную и проверенную информацию. Более того, многие издания имеют свои принципы и стандарты, которым следуют при составлении материалов.
        </p>
    </div>

    <a href="/editions/new" class="lg:p-0 p-4">
        <button class="p-2 border-2 border-purple-400 text-purple-400 rounded-lg md:mt-2 md:mb-3 md:m-0 sn:m-2">Подать заявку на подтверждение</button>
    </a>

    <div class="editionsList mt-5 grid gap-2 lg:grid-cols-3 lg:p-0 p-2 items-center overflow-y-scroll  w-full" stlye="height:50vh"> 
        <% @editions.each do |e|%>
            <div  aria-label="card 1" class="focus:outline-none relative border-purple-400 border-4  lg:mb-0 mb-7  p-2 shadow-lg rounded">
                <div class="flex items-center ">
                    <img src="<%= url_for(e.logo) %>" alt="coin avatar" class="w-12 h-12 rounded-full" />
                    <div class="flex items-start justify-between w-full">
                        <div class="pl-3 w-full pt-4 font-bold">
                            <a href="/editions/<%= e.id %>"  class="focus:outline-none  text-2xl  font-medium leading-5 text-gray-800"><%= e.name %></a>
                            <p  class="focus:outline-none text-sm leading-normal pt-2 text-gray-500"><%=  %></p>
                        </div>
                        <%# <div role="img" aria-label="bookmark">
                            <svg  class="focus:outline-none" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5001 4.66667H17.5001C18.1189 4.66667 18.7124 4.9125 19.15 5.35009C19.5876 5.78767 19.8334 6.38117 19.8334 7V23.3333L14.0001 19.8333L8.16675 23.3333V7C8.16675 6.38117 8.41258 5.78767 8.85017 5.35009C9.28775 4.9125 9.88124 4.66667 10.5001 4.66667Z" stroke="#2C3E50" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div> %>
                    </div>
                </div>
                <div class="lg:px-2 py-4 pb-2 w-full ">
                    <p class="focus:outline-none text-sm leading-5 py-2 text-gray-600"><%= e.desc %></p>
                    <div  class="focus:outline-none w-full pb-2 flex flex-wrap mt-4 ">
                        <div class="py-2 px-4 text-xs leading-3 text-indigo-700 rounded-full bg-indigo-100"><%= e.name %></div>
                        <div class="py-2 px-4 ml-3 text-xs leading-3 text-indigo-700 rounded-full bg-indigo-100"><%= e.category %></div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
