<div class="max-w-screen-lg  mx-auto">
    <main class="mainArticles" style="height:93vh;">
      <div class="mb-4 md:mb-0 w-full mx-auto relative">
        <div class="relative px-4 lg:px-0">
          <img src="<%= url_for(@article.header) =%>" class="w-full object-fill lg:rounded" style="background-size:100%;height: 28em;"/>
          <div class="absolute bottom-10 right-10">
            <% @article.tags.each do |t|%>
                    <a href="/articles/tag/<%= t.name %>" class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-indigo-600 hover:bg-indigo-700 font-bold transition duration-150 ease-in-out ">
                      <%= t.name.gsub('_',' ').to_s.capitalize  %>
                    </a>
            <% end %>
          </div>
          
        </div>
        <div class="flex flex-col lg:flex-row lg:space-x-12">

          <div class="px-4 lg:px-0 mt-4 text-gray-700 text-lg leading-relaxed w-full lg:w-3/4">
            <h2 class="text-4xl font-semibold text-gray-800 leading-tight">
            <%= @article.title %>
            </h2>
            <div class="flex py-2 flex-wrap">
              <span class="flex md:text-2xl font-bold pt-2 flex-2  "><%= image_tag("eye.svg",class:'h-8 me-2 w-8') %>Просмотров: <%= @article.impressionist_count %> <span class='text-rose-300 gap-1 font-bold flex'> <%= image_tag("like_1.svg",class:'ms-4 h-8 w-8') %>Лайков: <%= @likes_count %></></span>
            </div>
            <div class="mt-1 flex flex-wrap">
              <% if @article.user_id == current_user.id %>
                <div class="pb-2 md:hidden w-full">
                  <%= link_to "Изменить", edit_article_path(@article), class:"p-1 rounded-full ps-2 pe-2  border-2 text-emerald-600 font-bold border-emerald-400" %>
                  <%= link_to "Удалить", article_path(@article),method: :delete,  class:"p-1  w-full rounded-full ps-2 pe-2  border-2 text-rose-600 font-bold border-rose-400" %>
                </div>
              <% end %>
              <div data-controller="alike" class="flex flex-end md:hidden">
                <% if @likes.nil? %>
                  <%= button_to  image_tag("like.svg"), likes_path(likeable_type: 'Article', likeable_id: @article.id), method: :post, class:"pb-1 h-8 w-8" %><span class="ps-2">Поставить лайк</span>
                <% else %>
                  <%= button_to  image_tag("like_1.svg"), like_path(likeable_type: 'Article', likeable_id: @article.id), method: :delete, class:"pb-1 h-8 w-8"%> <span class="ps-2">Убрать лайк</span>
                <% end %>

                <% if @bookmarks.nil? %>
                  <%= button_to image_tag("bookmarks.svg"), bookmarks_path(bookmarkable_type: 'Article', bookmarkable_id: @article.id), method: :post, class:"h-8 w-8" %> <span class="ps-2">Добавить в закладки</span>
                <% else %>
                  <%= button_to image_tag("bookmarks_1.svg"), bookmark_path(bookmarkable_type: 'Article', bookmarkable_id: @article.id), method: :delete, class:"h-8 w-8" %> <span class="ps-2">Убрать из закладок</span>
                <% end %>
              </div>
          </div>
            <p class="pb-6"><%= @article.content %></p>
          </div>

          <div class="w-full shadow lg:w-1/4 m-auto mt-12 max-w-screen-sm">
            <div class="p-4 border-t border-b md:border md:rounded">
              <div class="flex py-2 ">
                <a href="/users/<%= @user.id %>">
                  <%= image_tag(@user.avatar, class: "h-10 w-10 rounded-full mr-2 object-fill") %>
                </a>
                <div>
                  <a href="/users/<%= @user.id  %>" class="font-semibold text-gray-700 text-sm"><%= @user.login %> </a>
                  <p class="font-semibold text-gray-600 text-xs"> <%= @user.user_role.name %> </p>
                </div>
              </div>
              <p class="text-gray-700 py-3">
                <%= @user.desc %>
              </p>
              <% if current_user != @user %>
                <% if current_user.subscribed_users.include?(@user) %>
                  <%= button_to 'Отписаться', unsubscribe_user_path(@user), method: :delete, class:"px-2 py-1 text-gray-100 bg-rose-700 flex w-full items-center justify-center rounded" %>
                <% else %>
                  <%= button_to 'Подписаться', subscribe_user_path(@user), method: :post, class:"px-2 py-1 text-gray-100 bg-green-700 flex w-full items-center justify-center rounded" %>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>

        <h3 class="text-4xl pt-4 pb-2">Комментарии</h3>
        <div class="mb-7">
          <%= form_with(model: [@article, ArticlesComment.new], url: create_comment_article_path(@article)) do |form| %>
            <%= form.text_area :content, placeholder: 'Напишите свой комментарий о статье', rows: 4, class:"border-2 border-gray-300 rounded-lg p-2 w-full" %>
            <%= form.submit 'Отправить', class:"p-2 border-2 border-gray-300" %>
          <% end %>
        </div>
        <% @article.articles_comments.reverse.each do |comment| %>
          <div class=" w-full relative top-1/3">
            <div class="relative grid grid-cols-1 gap-4 p-4 mb-8 border rounded-lg bg-white shadow-lg">
                <div class="relative flex gap-4">
                    <img src="<%= url_for(comment.user.avatar)  %>" class="relative rounded-lg -top-8 -mb-4 bg-white border h-20 w-20" alt="" loading="lazy">
                    <div class="flex flex-col w-full">
                        <div class="flex relative flex-row justify-between">       
                            <p class="text-xl whitespace-nowrap font-bold truncate overflow-hidden"><%= comment.user.login %></p>
                            <% if current_user == comment.user || current_user.user_role_id == 4 %>
                              <%= form_with url: destroy_comment_article_path(@article, comment.id),class:"absolute top-0 right-10 text-rose-500 font-bold", method: :delete, data: { confirm: 'Are you sure?' } do |form| %>
                                <%= form.submit 'Удалить' %>
                              <% end %>     
                            <% end %>
                            <a class="text-gray-500 text-xl" href="#"><i class="fa-solid fa-trash"></i></a>
                        </div>
                        <p class="text-gray-500 text-sm"><%= l(comment.created_at, format: :short)  %></p>
                    </div>
                </div>
                <p class="-mt-4 text-gray-500"><%=  comment.content %></p>
            </div>
      <% end %>
    </div>
  </main>
    <div class="mt-1 flex">
      <% if @article.user_id == current_user.id %>
        <div class="flex-1 p-2">
          <%= link_to "Изменить", edit_article_path(@article), class:"p-1 rounded-full ps-2 pe-2  border-2 text-emerald-600 font-bold border-emerald-400" %>
          <%= link_to "Удалить", article_path(@article),method: :delete,  class:"p-1 rounded-full ps-2 pe-2  border-2 text-rose-600 font-bold border-rose-400" %>
        </div>
      <% end %>
      <div data-controller="alike" class="flex flex-end">
        <% if @likes.nil? %>
          <%= button_to image_tag("like.svg"), likes_path(likeable_type: 'Article', likeable_id: @article.id), method: :post, class:"pb-1 h-8 w-8" %>
        <% else %>
          <%= button_to image_tag("like_1.svg"), like_path(likeable_type: 'Article', likeable_id: @article.id), method: :delete, class:"pb-1 h-8 w-8"  %>
        <% end %>

        <% if @bookmarks.nil? %>
          <%= button_to image_tag("bookmarks.svg"), bookmarks_path(bookmarkable_type: 'Article', bookmarkable_id: @article.id), method: :post, class:"h-8 w-8" %>
        <% else %>
          <%= button_to image_tag("bookmarks_1.svg"), bookmark_path(bookmarkable_type: 'Article', bookmarkable_id: @article.id), method: :delete, class:"h-8 w-8" %>
        <% end %>
      </div>
  </div>
</div>
<style>
  .mainArticles{

    overflow-y:scroll;
  }
  .mainArticles::-webkit-scrollbar{
    width:0;
  }
</style>
