        <%# <% if @user.avatar.present? %>
            <%# <%= image_tag(@user.avatar.variant(resize_to_fill: [1000, 1000]), class: "rounded-circle  w-full") %>
        <%# <% else %>

            <%# <%= link_to "Edit Users", "/users/edit", class:"border-2 border-emerald-400 p-2 bg-emerald-400 rounded-lg font-bold text-white"%>
            <%# <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class:"border-2 border-rose-400 p-2 bg-rose-400 rounded-lg font-bold text-white"%>
                <%# <%= render partial: 'items', locals: { items: [] } %>

<style>
    .Profile{
        overflow-y:scroll;
    }
    .Profile::-webkit-scrollbar{
        width:0;
    }
</style>
<main class="Profile grid h-full grid-cols-1 lg:grid-cols-2 gap-6  w-2xl container px-2 mx-auto">
    <aside class="">
        <div class="bg-white shadow rounded-lg p-5">
            <div class="flex flex-col gap-1 text-center items-center">
                <% if @user.verified %>
                    <img class="h-32 w-32 bg-[#5E17F4] p-2 rounded-full shadow mb-4" src="<%= url_for(@user.avatar) %>" alt="">
                <% else %>
                    <img class="h-32 w-32 bg-white p-2 rounded-full shadow mb-4" src="<%= url_for(@user.avatar) %>" alt="">
                <% end %>
                <p class="font-semibold"><%= @user.login %></p>
                <div class="text-sm leading-normal text-gray-400 flex justify-center items-center">
                    <svg viewBox="0 0 24 24" class="mr-1" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                    <%= @user.city %>
                </div><hr class="bg-gray-300 border-1 mt-2 border-gray-300 w-1/2">
                 <div class="pt-2 pb-4 w-72 text-sm leading-normal text-gray-400 justify-center items-center">
                    <%= @user.desc %>
                </div>
                <%# <%= @user.user_role.name %>
            </div>
            <div class="flex flex-wrap justify-center items-center gap-2 my-3">
                <div class="font-semibold text-center mx-4">
                    <p class="text-black"><%= @articles_count %></p>
                    <span class="text-gray-400">Статьи</span>
                </div>
                     <div class="font-semibold text-center mx-4">
                    <p class="text-black"><%= @events_count %></p>
                    <span class="text-gray-400">Новости</span>
                </div>
                <div class="font-semibold text-center mx-4">
                    <p class="text-black"><%= @user.subscribers.count %></p>
                    <span class="text-gray-400">Подписчики</span>
                </div>
                <div class="font-semibold text-center mx-4">
                    <p class="text-black"><%= @user.subscribed_users.count %></p>
                    <span class="text-gray-400">Подписки</span>
                </div>
            </div>
            <div class="flex font-bold justify-center pt-4 items-center gap-2 my-3">
                <% if current_user != @user %>
                    <% if current_user.subscribed_users.include?(@user) %>
                        <%= button_to 'Отписаться', unsubscribe_user_path(@user), method: :delete, class:"border-2 text-rose-600 border-rose-400  p-2" %>
                    <% else %>
                        <%= button_to 'Подписаться', subscribe_user_path(@user), method: :post, class:"border-2 border-emerald-400 font-bold text-bold text-emerald-400 p-2" %>
                    <% end %>
                <% else %>
                    <%= link_to "Редактировать", "/users/edit", class:"border-2 p-2" %>
                    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class:"border-2 p-2" %>
                <% end %>
            </div>
        </div>
        <% if @user.subscribed_users.count != 0 %>
            <div class="bg-white shadow mt-6  rounded-lg p-6">
                <h3 class="text-gray-600 text-sm font-semibold mb-4">Подписки</h3>
                <ul class="flex  space-x-2">
                    <% @user.subscribed_users.each do |sub|%>
                    <!-- Story #1 -->
                    <li class="flex flex-col items-center space-y-2">
                        <!-- Ring -->
                        <% if sub.verified %>
                            <a href="/users/<%= sub.id %>" class="block bg-[#5E17F4] p-1 rounded-full" href="#">
                        <% else %>
                            <a href="/users/<%= sub.id %>" class="block shadow bg-white p-1 rounded-full" href="#">
                        <% end %>
                            <img class="w-16 h-16 rounded-full" src="<%= url_for(sub.avatar) %>">
                        </a>
                        <!-- Username -->
                        <span class="text-xs text-gray-500">
                            <%= sub.login %>
                        </span>
                    </li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <% if @user.subscribers.count != 0 %>
                 <div class="bg-white shadow mt-6  rounded-lg p-6">
                <h3 class="text-gray-600 text-sm font-semibold mb-4">Подписчики</h3>
                <ul class="flex  space-x-2">
                    <% @user.subscribers.each do |sub|%>
                    <!-- Story #1 -->
                    <li class="flex flex-col items-center space-y-2">
                        <!-- Ring -->
                        <% if sub.verified %>
                            <a href="/users/<%= sub.id %>" class="block bg-[#5E17F4] p-1 rounded-full" href="#">
                        <% else %>
                            <a href="/users/<%= sub.id %>" class="block bg-white p-1 rounded-full" href="#">

                        <% end %>
                            <img class="w-16 h-16 rounded-full" src="<%= url_for(sub.avatar) %>">
                        </a>
                        <!-- Username -->
                        <span class="text-xs text-gray-500">
                            <%= sub.login %>
                        </span>
                    </li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <% if @user.verified %>
            <div class='break-inside relative    shadow mt-6  rounded-lg p- overflow-hidden flex flex-col justify-between space-y-2 text-sm  w-full p-4 mb-4 bg-[#5E17F4] text-white'>
                <span class='uppercase text-xs text-[#D2BDFF]'>REDNEWS TEAM</span>
                <div class='flex flex-row items-center space-x-3'>
                    <svg width='58' height='56' viewBox='0 0 52 50' fill='none' xmlns='http://www.w3.org/2000/svg'>
                    <path d='M32.6458 38.4379C33.9918 37.1198 33.2655 34.0922 31.0668 30.5948C31.8658 30.4707 32.6129 30.281 33.178 29.9905C35.2112 28.9466 36.584 27.044 37.6232 25.0759C38.7403 22.9647 39.49 20.644 40.9477 18.7215C41.1939 18.3966 41.44 18.1052 41.6853 17.831C44.8304 18.206 47.3412 18.8784 47.3412 18.8784L48.3006 16.4534C47.0896 16.0212 45.848 15.6791 44.586 15.4302C45.3591 14.9931 45.8635 14.8569 45.8635 14.8569L44.9543 12.4121C43.4966 13.025 42.3136 13.9293 41.323 15.0121C37.6206 14.806 33.8921 15.5397 30.9506 17.8086C28.7389 19.5155 27.2447 21.8819 25.839 24.2491C24.5935 23.0333 23.2671 21.9023 21.8688 20.8638C22.134 20.4302 22.4182 20.0405 22.7242 19.7397C24.5728 17.9293 27.0116 16.7716 28.6115 14.7C31.9742 10.35 29.5146 3.53103 26.7481 0C26.2524 0.475 25.4325 1.16724 24.8155 1.71379C27.7561 4.70948 29.8127 9.95431 27.5082 13.8733C26.2203 16.0638 23.8404 17.4379 22.1764 19.3198C21.8887 19.6466 21.6313 20.0603 21.3982 20.5172C17.0466 17.4129 13.053 16.1638 11.4704 17.7138C11.3133 17.8737 11.1838 18.0584 11.0874 18.2603L11.0813 18.2543L11.0388 18.3776C10.9799 18.5112 10.9261 18.65 10.8897 18.8017L0 50L31.774 38.95L31.7653 38.9414C32.1068 38.8319 32.4075 38.6707 32.6458 38.4379ZM6.32065 45.9759L3.66863 44.7465L5.45831 39.6172L13.6666 43.4207L6.32065 45.9759ZM21.0116 40.8664L7.24972 34.4879L9.0394 29.3595L19.3233 34.494C13.1847 30.5198 10.8291 24.2293 10.8291 24.2293L11.441 22.4767C12.5286 25.2138 14.9215 28.6224 18.2097 31.8397C21.5256 35.0862 25.0399 37.4379 27.8488 38.4888L21.0116 40.8664ZM26.2975 24.7112C27.7344 22.6621 29.2156 20.594 31.2748 19.1224C33.2352 17.7207 36.4176 17.4647 39.4345 17.6328C38.4153 19.4034 37.6622 21.3681 36.9861 23.2552C36.1689 25.5397 35.0734 27.9086 32.9847 29.3095C32.4214 29.6871 31.6318 29.9629 30.7886 30.1672C29.6298 28.4009 28.1097 26.5336 26.2975 24.7112Z' fill='white' />
                    <path d='M18.2287 16.3793C19.0971 16.3793 16.4937 13.7931 16.9287 11.525C18.5962 11.3974 22.4078 12.1448 20.1892 9.11379C22.699 9.55345 23.9991 7.68966 21.6296 5.92328C22.4182 5.97845 23.6437 4.49914 22.764 4.31207C19.9456 3.7181 18.8423 5.23448 20.6312 7.42155C18.7505 7.07328 17.2173 7.9431 18.63 9.89655C13.1994 9.22328 16.2891 16.3793 18.2287 16.3793ZM36.8726 14.081C37.6864 13.7155 36.3058 11.3009 35.8569 10.6836C39.2915 10.3181 39.1615 9.3 37.0078 7.11897C42.8631 7.31466 37.1889 4.00431 37.9846 2.69397C38.6736 1.55776 40.7874 2.74914 40.5915 2.11638C39.9311 0 33.6668 1.43103 37.631 5.38276C34.1712 5.45 33.8393 6.575 36.4176 8.9069C31.9265 8.95603 35.5908 14.6552 36.8726 14.081ZM51.7378 22.6078C50.3667 22.9897 50.1553 22.8466 50.3381 24.2043C47.1713 22.7543 43.8207 20.7379 45.854 26.0802C42.2573 23.95 42.4367 25.8155 41.7641 28.8853C40.8888 28.2069 39.6451 26.419 39.6451 26.419L38.3278 27.5319C38.3278 27.5319 40.7414 30.9181 41.9331 30.7259C42.9809 30.5578 43.5512 28.5879 43.6093 26.8517C46.946 28.2526 48.5432 28.4397 47.017 24.3431C49.6846 25.8336 52.9555 27.1483 51.7378 22.6078ZM3.50916 7.27328L5.96011 9.71207L3.50916 12.15L1.05734 9.71207L3.50916 7.27328ZM24.1005 26.5181L21.6478 28.956L19.1959 26.5164L21.6486 24.0776L24.1005 26.5181ZM13.1908 3.44828L15.6417 5.88621L13.1899 8.32586L10.7389 5.88621L13.1908 3.44828ZM39.8765 37.4862L37.4238 35.0474L39.8748 32.6078L42.3275 35.0466L39.8765 37.4862ZM34.4113 45.85L31.9603 43.4121L34.4113 40.9733L36.8631 43.4121L34.4113 45.85ZM45.1649 47.7759L42.7123 45.3371L45.1623 42.8974L47.615 45.3362L45.1649 47.7759ZM47.6159 36.669L45.1649 34.2302L47.6159 31.7922L50.0668 34.2302L47.6159 36.669ZM43.5243 6.03448L45.9753 8.47241L43.5235 10.9112L41.0725 8.47241L43.5243 6.03448Z' fill='white' />
                    </svg>
                    <span class='text-base font-medium'>Аккаунт официально подтверждён</span>
                </div>
                <% if current_user.id == @user.id %>
                    <div class='flex justify-between items-center'>
                        <span class="text-ms text-gray-400">Данный аккаунт включён в список администраторов</span>
                        <a href="/admin">
                            <button class='flex items-center justify-center text-xs font-medium rounded-full px-4 py-2 space-x-1 bg-white text-black'>
                            <span>Панель администратора</span>
                            <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='#000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'>
                                <path d='M5 12h13M12 5l7 7-7 7' />
                            </svg>
                            </button>
                        </a>
                    </div>
                <% end %>
            </div>
        <% end %>

        <% if @popular_posts_user.nil? %>
        <div class="grid bg-white p-6 rounded-lg shadow mt-5  w-full ">
            <h3 class="text-gray-600 text-sm font-semibold mb-4">Лучшие записи</h3>
            <div class="grid grid-cols-2 gap-2 justify-center items-center">
                <% @popular_posts_user.each do |p|%>
                    <div class="relative flex flex-col justify-between   bg-white shadow-md rounded-3xl  bg-cover text-gray-800  cursor-pointer w-full object-cover object-center  h-58 my-2" style="background-image:url('<%= url_for(p.header) %>');">
                        <div class="absolute bg-gradient-to-t   opacity-50 inset-0 z-0"></div>
                        <div class="relative flex flex-row items-end  h-72 w-full ">
                            <div class="absolute right-0 top-0 ">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9 p-2 m-2 text-gray-200 hover:text-blue-400 rounded-full hover:bg-white transition ease-in duration-200 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path>
                                </svg>
                            </div>
                            <div class="p-6 rounded-lg  flex flex-col w-full z-10 ">
                                <h4 class="mt-1 text-white text-xl font-semibold  leading-tight truncate"><%= p.title %>
                                </h4>
                                <div class="flex justify-between items-center ">
                                    <div class="flex flex-col">
                                        <h2 class="text-sm flex items-center text-gray-300 font-normal">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z">
                                                </path>
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                            </svg>
                                            Dubai
                                        </h2>
                                    </div>
                                </div>
                                <div class="flex pt-4 text-sm text-gray-300">
                                    <div class="flex items-center mr-auto">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-yellow-500 mr-1" viewBox="0 0 20 20" fill="currentColor">
                                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                            </path>
                                        </svg>
                                        <p class="font-normal">4.5</p>
                                    </div>
                                    <div class="flex items-center font-medium text-white ">
                                        $1800
                                        <span class="text-gray-300 text-sm font-normal"> /wk</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <% end %>
    </aside>

    <article class="">
        <div data-controller="feed" >
            <button data-feed-target="contents" value="<%= @user.id %>"  data-action="click->feed#showFeed" id="feed" class="text-blue-500  decoration-blue-200 underline-offset-8 pb-4 text-2xl">Лента</button>
            <% unless @user.id != current_user.id %>
                <button data-feed-target="contents" value="<%= @user.id %>"  data-action="click->feed#showBookmarks" id="bookmarks" class="text-blue-500  decoration-blue-200 underline-offset-8 pb-4 text-2xl">Закладки</button>
            <% end  %>
            <div data-feed-target="content"></div>
        </div>
    </article>
</main>
